<p id="notice"><%= notice %></p>
  <div class="pull-right">
    <%= link_to "Create a new thread!", new_anon_path, class: "btn btn-success" %>
  </div>

<h1 class="page-header">Anonymous Forums</h1>

<% @anons.each do |anon| %>
<h3><%= link_to anon.title, anon %></h3>
        <% end %>
<br>
<%= link_to 'Home', root_path, class: "btn btn-info" %>
