<h1>This is Service U! What Up Shaw!</h1>

<div class="row">
<div class="col-md-6">
        <div class="well home-well">
            <h4><%= link_to 'Jobs', jobs_path %></h4>
    </div>
     <div class="well home-well">
            <h4><%= link_to 'Forum', forum_path %></h4>
    </div>
     <div class="well home-well">
         <h4><%= link_to 'Events', events_path %></h4>
    </div>

    </div>
</div>

