<div class="row">
      <div class="col-md-6">
     <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Your Events!</h1>
     </div>
     <div class='panel-body'>
             <% current_user.events.each do |event| %>

         <h1><%= link_to event.title, event %></h1>
             <strong><p>You last updated this event on <%= event.created_at.strftime("%B %e, %Y at %l:%M %p") %></p></strong>

        </div>
<% end %>

      </div>
    </div>
</div>
