<div class="row">
      <div class="col-md-6">
     <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Jobs' you've posted!</h1>
     </div>
     <div class='panel-body'>
             <% current_user.job_lists.each do |job| %>

         <h1><%= link_to job.title, job %></h1>
             <strong><p>You last updated this post on <%= job.created_at.strftime("%B %e, %Y at %l:%M %p") %></p></strong>

        </div>
<% end %>

      </div>
    </div>
</div>
