<% Category.all.each do |category| %>

<div class="row">

    <div class="col-md-6">

        <div class="well home-well">

            <%= link_to category.name, category_path %>
        </div>

    </div>

</div>
    <% end %>
